<div class="image">
  <img data-interchange="[<%= image_path('background_photo.png') %>, (default)], [<%= image_path('background_photo_large.png', class: "background_photo_large") %>, (large)]">
  <div class="slogan">Crafting drillbits with percision</div>
  <div class="email-sub small-12 small-centered large-10 large-centered columns">
    <div class="row collapse">
      <div class="small-8 large-offset-4 large-6 columns">
        <input class="email-input" type="text" autofocus=false placeholder="Enter email to hear from us...">
      </div>
      <div class="small-4 large-2 columns">
        <a href="#" class="button postfix">Subscribe</a>
      </div>
    </div>
  </div>
</div>

<div class="product-explanation">
  <div class="product-explanation_header">Things that make our product great</div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      Gekkou bits drill into material with ease without the need for a pilot hole or center punch, 
      even in larger diameter holes which in turn saves time and eliminates a step
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      The swarh, or metal shavings, is cool to touch after drilling. There is less heat transferred to the work material due to faster and more efficient cutting. In addition there are smaller burrs at the exit hole. To top it all off there is a smooth, mirror like finish of the drilled hole.
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      There are virtually no chips produced. Instead the swarth comes out in long spirals thus facilitating clean up, reducing chance of contamination (Food processing and medial industries) and the shavings are easier to recycle.
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      Fastest cutting and longest lasting drill bit on the market for Stainless Steel. Superior performance in cutting other alloys, plastic and wood. Can be used dry when lubricants are prohibitive, however when possible using lubricants will increase the life of the drill bit. Small premium upfront cost with higher long term return on investment.
    </div>
  </div>
</div>

<section class="footer-section-container">
  <div class="row footer-row">
    <div class="footer-section large-4 columns">
      <div class="footer-header">Social Media</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/GekkouUSA" %><a class="footer-links" href="https://www.facebook.com/GekkouUSA">GekkouUSA</a></li>
          <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/Bic-Tool-634639836657945/" %><a class="footer-links" href="https://www.facebook.com/Bic-Tool-634639836657945/">BicToolCo</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-section large-4 columns">
      <div class="footer-header">Contact Us</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= mail_to "vitaliy@bictool.com", image_tag("mail_icon.png", class: "footer-icons") %></li>
          <li class="footer-li-items"><%= mail_to "vitaliy@bictool.com", "vitaliy@bictool.com", class: "footer-links" %></li>
        </ul>
      </div>
    </div>
    <div class="footer-section large-4 columns">
      <div class="footer-header">More Info</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= link_to image_tag("documents_icon.png", class: "footer-icons"), { controller: "welcome", action: "open_pdf" }, target: "_blank" %></li>
          <li class="footer-li-items"><%= link_to "Customer Comments", { controller: "welcome", action: "open_pdf" }, target: "_blank", class: "footer-links" %></li>
        </ul>
      </div>
    </div>
  </div>
</section>