<div class="image">
  <img data-interchange="[<%= image_path('background_photo.png') %>, (default)], [<%= image_path('background_photo_large.png', class: "background_photo_large") %>, (large)]">
  <div class="slogan">Welcome to the home page of Gekkou HSS Cobalt drill bits made by Bic Tool Co. Ltd., of Tottori Japan.</div>
  <div class="email-sub small-12 small-centered large-10 large-centered columns">
    <div class="row collapse">
      <div class="small-8 large-offset-4 large-6 columns">
        <input class="email-input" type="text" autofocus=false placeholder="Enter email to hear from us...">
      </div>
      <div class="small-4 large-2 columns">
        <a href="#" class="button postfix">Subscribe</a>
      </div>
    </div>
  </div>
</div>

<div class="product-explanation">
  <div class="product-explanation_header">Here you will find more information on our line of advanced, innovative and revolutionary cutting tools.</div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      Bic Tool has applied the Gekkou patented tip (more info and screen shots of patents in a separate page) to a 5% M35 Super Cobalt High Speed Steel drill bit with a 188 degree tip and created a cutting tool like no other on the market.
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      Our drill bits cut 5 times faster and last 5 times longer than the conventional split point Cobalt drill bits (both 5 and 8% Cobalt content and 118 and 135 degree angles) from leading manufacturers. The Gekkou HSS Cobalt drill bit was specifically engineered for Stainless Steel cutting and allows our users to drill through a 1/4" thick 304 Stainless Steel plate in 20 second with no pre-drilling or center punching required saving you time and money.
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      Swarf spirals out of the hole as the drill bites into the metal with two patented, Gekkou (Japanese for Moonlight) crescent shaped, flutes at the tip which shave the metal out of the material being cut as opposed to the traditional grinding action which is ineffective and generates excessive heat. The Gekkou drill bits generate transfer a lot less heat than the conventional drill bit and do not warp or discolor the material being drilled.
    </div>
  </div>
  <div class="row product-explanation_row">
    <div class="product-explanation_summary small-12 small-centered large-9 large-centered columns">
      The finished hole is smooth with a mirror like finish and with very little burring on the back surface, both benefits increase productivity and decrease time spent on finishing the drilled holes. Gekkou Cobalt bits have the highest ROI (Return On Investment) of any current drill bit on the market with similar content, application and price range.
    </div>
  </div>
</div>

<section class="gekkou-benefits">
  <%= inline_svg("drill_icon.svg", class: "gekkou-drill-icon") %>
  
  <div class="gekkou-benefits-header">
    Benefits of Gekkou cutting tools:
  </div>
  
  <div class="row more-product-info">
    <div class="more-product-info_text small-12 small-centered large-9 large-centered columns">
      Longer bit life - greater Return On Investment. Gekkou drill bits can be resharpened up to 4 times and cut as many as 150 holes in 1/4" thick 304 Stainless Steel material during the life of a single drill bit.
    </div>
  </div>
  <div class="row more-product-info">
    <div class="more-product-info_text small-12 small-centered large-9 large-centered columns">
      Swarf produced during drilling emerges in long spirals as opposed to small chips usually seen when drilling with hand held drills (many of our clients recycle the "Gekkou" swarf). This benefit has been utilized by our clients in the medical and food industries where minimal contamination is ideal.
    </div>
  </div>
  <div class="row more-product-info">
    <div class="more-product-info_text small-12 small-centered large-9 large-centered columns">
      Very little heat is transferred to material being drilled which virtually eliminates discoloration and warping and leaves a clean smooth hole with very little burring on the back end.
    </div>
  </div>
  <div class="row more-product-info">
    <div class="more-product-info_text small-12 small-centered large-9 large-centered columns">
      Gekkou drill bits are equally ideal for construction job site setting and for the industrial and manufacturing atmosphere.
    </div>
  </div>
  <div class="row more-product-info">
    <div class="more-product-info_text small-12 small-centered large-9 large-centered columns">
      Gekkou patented tip technology has been successfully applied to spot weld cutting bits and a number of other cutting tools due to be introduced to the global market in the near future.
    </div>
  </div>
</section>

<section class="footer-section-container">
  <div class="row footer-row">
    <div class="footer-section large-4 columns">
      <div class="footer-header">Social Media</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/GekkouUSA" %><a class="footer-links" href="https://www.facebook.com/GekkouUSA">GekkouUSA</a></li>
          <li class="footer-li-items"><%= link_to image_tag("facebook_icon.png", class: "facebook-icons footer-icons"), "https://www.facebook.com/Bic-Tool-634639836657945/" %><a class="footer-links" href="https://www.facebook.com/Bic-Tool-634639836657945/">BicToolCo</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-section large-4 columns">
      <div class="footer-header">Contact Us</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= mail_to "vitaliy@bictool.com", image_tag("mail_icon.png", class: "footer-icons") %></li>
          <li class="footer-li-items"><%= mail_to "vitaliy@bictool.com", "vitaliy@bictool.com", class: "footer-links" %></li>
        </ul>
      </div>
    </div>
    <div class="footer-section large-4 columns">
      <div class="footer-header">More Info</div>
      <div class="footer-items">
        <ul class="footer-items-container">
          <li class="footer-li-items"><%= link_to image_tag("documents_icon.png", class: "footer-icons"), { controller: "welcome", action: "open_pdf" }, target: "_blank" %></li>
          <li class="footer-li-items"><%= link_to "Customer Comments", { controller: "welcome", action: "open_pdf" }, target: "_blank", class: "footer-links" %></li>
        </ul>
      </div>
    </div>
  </div>
</section>