<div class="gallery-header">
  Gekkou Drill Bits Photo Gallery
</div>

<ul class="small-block-grid-1 large-block-grid-3 gallery-photos">
  <li><%= image_tag("img_1.jpg", class: "gallery-photos") %></li>
  <li><%= image_tag("img_2.jpg", class: "gallery-photos") %></li>
  <li><%= image_tag("img_3.jpg", class: "gallery-photos") %></li>
  <li><%= image_tag("img_4.jpg", class: "gallery-photos") %></li>
  <li><%= image_tag("img_5.png", class: "gallery-photos") %></li>
  <li><%= image_tag("img_6.png", class: "gallery-photos") %></li>
  <li><%= image_tag("img_7.png", class: "gallery-photos") %></li>
  <li><%= image_tag("img_8.png", class: "gallery-photos") %></li>
  <li><%= image_tag("img_9.png", class: "gallery-photos") %></li>
</ul>