<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- <nav class="top-bar nav-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag("logo.png", class: "logo"), root_path %>
        </li> -->
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <!-- <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        <section class="top-bar-section">
          <ul class="right">
            <li class="nav-dropdown-links"><%= link_to "Distributors", distributors_path, class: "nav-bar-links" %></li>
            <li class="nav-dropdown-links"><a class="nav-bar-links" href="#">Gallery</a></li>
            <li class="nav-dropdown-links"><a class="nav-bar-links" href="#">About  </a></li>
          </ul>
        </section>
      </ul>
    </nav> -->
    <%= yield %>

  </body>
</html>
