<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= favicon_link_tag "favicon.png" %>
    <title><%= content_for?(:title) ? yield(:title) : "Gekkou" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar nav-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <%= link_to image_tag("logo.png", class: "logo"), "http://www.bictool.co/" %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="nav-dropdown-links"><%= link_to "Distributors", distributors_path, class: "nav-bar-links" %></li>
          <li class="nav-dropdown-links"><%= link_to "Gallery", gallery_path, class: "nav-bar-links" %></li>
        </ul>
      </section>
    </nav>
    <%= yield %>

  </body>
</html>
